div {
    display: flex;
    margin: 10px;
    align-items: center;

    .form-group {
        margin: 0px 20px;
    }

    label {
        margin: 0px 10px;
    }
  
    input {
      padding: 5px;
    }
  }
  